# {{ ansible_managed }}
{% macro env(name, value) -%}
{{ name }}="{{ value | string | replace('\\', '\\\\') | replace('"', '\\"') }}"
{%- endmacro %}
{{ env('PORTAL_APP_TITLE', portal_app_title) }}
{{ env('PORTAL_CATALOG_PATH', portal_config_dir ~ '/catalog.yaml') }}
{{ env('PORTAL_SECRET_KEY', portal_secret_key) }}
{{ env('PORTAL_SESSION_COOKIE_SECURE', nginx_tls_enabled | bool | lower) }}
{{ env('PORTAL_DRY_RUN', portal_dry_run | bool | lower) }}

{{ env('PORTAL_ADO_ORG_URL', portal_ado_org_url) }}
{{ env('PORTAL_ADO_PROJECT', portal_ado_project) }}
{{ env('PORTAL_ADO_PIPELINE_ID', portal_ado_pipeline_id | default(0, true)) }}
{{ env('PORTAL_ADO_BRANCH', portal_ado_branch) }}
{{ env('PORTAL_ADO_AUTH', portal_ado_auth) }}
{{ env('PORTAL_ADO_PAT', portal_ado_pat) }}
{{ env('PORTAL_ADO_TENANT_ID', portal_ado_tenant_id) }}
{{ env('PORTAL_ADO_CLIENT_ID', portal_ado_client_id) }}
{{ env('PORTAL_ADO_CLIENT_SECRET', portal_ado_client_secret) }}
{{ env('PORTAL_ADO_CA_BUNDLE', portal_ado_ca_bundle) }}

{{ env('PORTAL_AUTH_MODE', portal_auth_mode) }}
{{ env('PORTAL_ENTRA_TENANT_ID', portal_entra_tenant_id) }}
{{ env('PORTAL_ENTRA_CLIENT_ID', portal_entra_client_id) }}
{{ env('PORTAL_ENTRA_CLIENT_SECRET', portal_entra_client_secret) }}
{{ env('PORTAL_ENTRA_REDIRECT_URI', portal_entra_redirect_uri) }}
{{ env('PORTAL_ALLOWED_GROUPS', portal_allowed_groups | join(',')) }}
{% for name, value in (portal_proxy_env | default({})).items() %}
{{ env(name, value) }}
{% endfor %}
